<div class="show-page">
<img style="width: 200px;" src="https://cdn-icons-png.flaticon.com/512/188/188987.png" alt="">

<p class="message">
  Welcome
  <strong><%= @user.first_name %></strong>
  to your bookings page!
</p>

<p class="message">
  <strong>Your future adventures are about to start!</strong>
</p>

<div class="row d-flex justify-content-center">
  <% @bookings.each do |booking| %><br>
    <div class="col-3 mt-3 booking-card">
      <p class="booking-name"><%= booking.game.name %></p><br>
      <div><%= booking.start_date %></div><br>
      <div><%= booking.end_date %></div><br>
      <div>£ <%= booking.game.price %></div><br>
    </div>
  <% end %>
</div>



<%= link_to 'Back', users_path, class:"btn btn-black m-3" %>
</div>
