<%= simple_form_for(@game) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :console, as: :select, collection: ["PS5", "XBOX S & X", "Nintendo Switch", "PC"] %>
    <%= f.input :price %>
      <select class="container form-select form-select-lg mb-3" name="rating" id="star_rating" aria-label=".form-select-lg example">
        <option name="1" value="1">1</option>
        <option name="2" value="2">2</option>
        <option name="3" value="3">3</option>
        <option name="4" value="4">4</option>
        <option name="5" value="5">5</option>
      </select>
    <br>
    <%= f.input :photo, as: :file %>
  </div>

  <div class="btn btn-show btn-lg w-100">
    <%= f.button :submit %>
  </div>
<% end %>
