<%= simple_form_for(@game) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :console %>
    <%= f.input :price %>
    <%= f.input :rating %>
    <%= f.input :photo, as: :file %>
  </div>

  <div class="btn btn-primary btn-lg w-100">
    <%= f.button :submit %>
  </div>
<% end %>
