<p id="notice"><%= notice %></p>
<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Console</th>
      <th>Price (£) </th>
      <th>Rating</th>
      <th colspan="4"></th>
    </tr>
  </thead>


      <div class="container">
        <div class="row mt-4">
    <% @games.each do |game| %>
          <div class="col-3">
            <div class="card-trip">
              <img src="https://www.shortlist.com/media/images/2019/05/50-greatest-video-game-covers-186-1556729312-ZIaP-column-width-inline.jpg" />
              <div class="card-trip-infos">
                <div>
                  <h2><%= game.name %></h2>
                  <p><%= game.description %></p>
                  <p><%= game.console %></p>
                  <p><%= game.rating %></p>
                  <p><%= link_to 'Show', game %></p>
                  <p><%= game.rating %>|<%= link_to 'Edit', edit_game_path(game) %>|<%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></p>
                  <p><%= game.rating %></p>
                </div>
                <h2 class="card-trip-pricing"><%= game.price %></h2>
              </div>
            </div>
          </div>
    <% end %>
        </div>
      </div>


<br>

<%= link_to 'New Game', new_game_path %>
