<p id="notice"><%= notice %></p>
<div class="row justify-content-center">
  <h1 class="text-center mb-5"><h1>Pick your next adventure...</h1>
  <br>
</div>
  <br>
<div class="container justify-content-center">
<div class="search_form">
  <%= form_tag games_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a game"
  %>
  <div class="row justify-content-center pt-2">
  <%= submit_tag "Search", class: "btn btn-black" %>
  </div>
</div>
<% end %>
</div>
<div class="row justify-content-center">
<div class="container">
    <div class="row mt-4">
      <% @games.each do |game| %>
      <%= link_to game_path(game) do %>
          <div class="col-3 p-3">
            <div class="card-trip">
            <% if game.photo.present? %>
              <div class="background-card-image" style="background-image: url('<%= cl_image_path game.photo.key%>')"></div>
              <% else %>
              <div class="background-card-image" style="background-image: url('https://www.google.com/search?q=gamepad+pics&rlz=1C5CHFA_enGB965GB970&sxsrf=AOaemvJXEHAstqGDkmq1cnNE9K6k5QoS7w:1637168036711&tbm=isch&source=iu&ictx=1&fir=9QBwmvn9zU6wKM%252C-XbVcD_SxsDUFM%252C_%253BgoP0jiTaQD0T6M%252C-XbVcD_SxsDUFM%252C_%253BDHGmIej7RXAG2M%252Cxt5Q1pzjs3e4nM%252C_%253BKdtvO-1ZrDYGjM%252Cxt5Q1pzjs3e4nM%252C_%253BEPCVXhLTnW8LEM%252Cr_MzRScF8qVIFM%252C_%253BZNxxdZ4AHPWWXM%252C-XbVcD_SxsDUFM%252C_%253BSctBvfuv7b4fZM%252CiQb9JW-r1jDMuM%252C_%253BXY_PWHnozN4m4M%252CnEBmrgGtHKbm5M%252C_%253ByVGp75ZGg_R0DM%252Cj2AnDOpsi4HIgM%252C_%253Bf9GlH3UEzyVh7M%252CFtPCU0F5DxOb6M%252C_%253Bm5a4PZMn4FhR1M%252C-XbVcD_SxsDUFM%252C_%253BM8q7bH8szI46BM%252CFu81baY-gA0EsM%252C_%253BE7Hku6M3eGstVM%252CLRFU9Q1WktTnZM%252C_%253B-1ELS9-6nmywzM%252CrS_7-1m8XOlSgM%252C_&vet=1&usg=AI4_-kT9qTbZuUp2EefuH1FzGGxPr8dJLg&sa=X&ved=2ahUKEwiQyY-a7p_0AhWHUcAKHfE_D5oQ9QF6BAgXEAE#imgrc=yVGp75ZGg_R0DM')"></div>
            <% end %>
              <% end %>
                <div class="card-trip-infos">
                    <h2><%= game.name %></h2>
                    <p><%= game.description %></p>
                    <p><%= game.console %></p>
                    <p>⭐ <%= game.rating %></p>
                  <h2 class="card-trip-pricing">￡<%= game.price %></h2>
                </div>
            </div>
          </div>
    <% end %>
        </div>
      </div>
</div>
