<p id="notice"><%= notice %></p>

<div class="card-product">
  <img src="https://www.shortlist.com/media/images/2019/05/50-greatest-video-game-covers-186-1556729312-ZIaP-column-width-inline.jpg" />
  <div class="card-product-infos">
    <div>
      <h2><%= @game.name %></h2>
      <p><strong>Console: </strong><%= @game.console %>
      <br>
        <strong>Description: </strong><%= @game.description %></p>
      </p>
    </div>
    <h2 class="card-product-pricing"><%= @game.price %>£</h2>
    <img src="https://vanderbiltc4e.com/wp-content/uploads/2017/08/Super-Mario-Avatar-500x500.jpg" class="card-product-user avatar-bordered" />
  </div>
</div>
<%= link_to 'Back', games_path, :class => "btn-black"%>
