<div class="row mt-3 ml-4">
  <div class="col-6">
    <p id="notice"><%= notice %></p>

    <div class="card-product">
        <% if @game.photo.present? %>
          <div class="card-show-image" style="background-image: url('<%= cl_image_path @game.photo.key%>')"></div>
            <% else %>
              <div class="card-show-image" style="background-image: url('https://www.google.com/search?q=gamepad+pics&rlz=1C5CHFA_enGB965GB970&sxsrf=AOaemvJXEHAstqGDkmq1cnNE9K6k5QoS7w:1637168036711&tbm=isch&source=iu&ictx=1&fir=9QBwmvn9zU6wKM%252C-XbVcD_SxsDUFM%252C_%253BgoP0jiTaQD0T6M%252C-XbVcD_SxsDUFM%252C_%253BDHGmIej7RXAG2M%252Cxt5Q1pzjs3e4nM%252C_%253BKdtvO-1ZrDYGjM%252Cxt5Q1pzjs3e4nM%252C_%253BEPCVXhLTnW8LEM%252Cr_MzRScF8qVIFM%252C_%253BZNxxdZ4AHPWWXM%252C-XbVcD_SxsDUFM%252C_%253BSctBvfuv7b4fZM%252CiQb9JW-r1jDMuM%252C_%253BXY_PWHnozN4m4M%252CnEBmrgGtHKbm5M%252C_%253ByVGp75ZGg_R0DM%252Cj2AnDOpsi4HIgM%252C_%253Bf9GlH3UEzyVh7M%252CFtPCU0F5DxOb6M%252C_%253Bm5a4PZMn4FhR1M%252C-XbVcD_SxsDUFM%252C_%253BM8q7bH8szI46BM%252CFu81baY-gA0EsM%252C_%253BE7Hku6M3eGstVM%252CLRFU9Q1WktTnZM%252C_%253B-1ELS9-6nmywzM%252CrS_7-1m8XOlSgM%252C_&vet=1&usg=AI4_-kT9qTbZuUp2EefuH1FzGGxPr8dJLg&sa=X&ved=2ahUKEwiQyY-a7p_0AhWHUcAKHfE_D5oQ9QF6BAgXEAE#imgrc=yVGp75ZGg_R0DM')"></div>
            <% end %>
        <div class="card-product-infos">
        <div>
          <h2><%= @game.name %></h2>
          <p><strong>Console: </strong><%= @game.console %>
          <br>
            <strong>Description: </strong><%= @game.description %></p>
          </p>
        </div>
        <h2 class="card-product-pricing">£<%= @game.price %></h2>
        <img src="https://vanderbiltc4e.com/wp-content/uploads/2017/08/Super-Mario-Avatar-500x500.jpg" class="card-product-user avatar-bordered" />
      </div>
    </div>
    <div class="m-4">
    <%= link_to 'Back', games_path, class: "btn-black"%>
    </div>
  </div>
  <div class="col-6 p-5">
    <h1 class="text-center mb-5">New Booking</h1>

    <%= simple_form_for [ @game, @booking ] do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :end_date, as: :date, html5: true %>
      </div>

      <div class="row justify-content-center mt-5">
        <%= f.button :submit , class: "btn-show btn-lg"%>
      </div>
    <% end %>
  </div>
</div>
